{% extends 'base.html' %}

{% block content%}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + pitch.author.image_file)}}" alt="">
        <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ pitch.author.username }}</a>
            <small class="text-muted">{{ pitch.data_posted.strftime('%Y-%m-%d') }}</small>
        </div>
        <h2 class="article-title">{{ pitch.title }}</h2>
        <p class="article-content"><strong>Category:</strong> {{ pitch.category }}</p>
        </div>
    </article>
{% endblock content%}